@font-face {
    font-family: "Nexa-Black";
    src: url("../fonts/Nexa-Black/Nexa-Black.eot");
    src: url("../fonts/Nexa-Black/Nexa-Black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nexa-Black/Nexa-Black.svg#Nexa-Black") format("svg"),
        url("../fonts/Nexa-Black/Nexa-Black.ttf") format("truetype"),
        url("../fonts/Nexa-Black/Nexa-Black.woff") format("woff"),
        url("../fonts/Nexa-Black/Nexa-Black.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ArialMT";
    src: url("../fonts/ArialMT/ArialMT.eot");
    src: url("../fonts/ArialMT/ArialMT.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ArialMT/ArialMT.svg#ArialMT") format("svg"),
        url("../fonts/ArialMT/ArialMT.ttf") format("truetype"), url("../fonts/ArialMT/ArialMT.woff") format("woff"),
        url("../fonts/ArialMT/ArialMT.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica/Helvetica.eot");
    src: url("../fonts/Helvetica/Helvetica.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Helvetica/Helvetica.svg#Helvetica") format("svg"),
        url("../fonts/Helvetica/Helvetica.ttf") format("truetype"),
        url("../fonts/Helvetica/Helvetica.woff") format("woff"),
        url("../fonts/Helvetica/Helvetica.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Nexa-Bold";
    src: url("../fonts/Nexa-Bold/Nexa-Bold.eot");
    src: url("../fonts/Nexa-Bold/Nexa-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nexa-Bold/Nexa-Bold.svg#Nexa-Bold") format("svg"),
        url("../fonts/Nexa-Bold/Nexa-Bold.ttf") format("truetype"),
        url("../fonts/Nexa-Bold/Nexa-Bold.woff") format("woff"),
        url("../fonts/Nexa-Bold/Nexa-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Nexa-Book";
    src: url("../fonts/Nexa-Book/Nexa-Book.eot");
    src: url("../fonts/Nexa-Book/Nexa-Book.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nexa-Book/Nexa-Book.svg#Nexa-Book") format("svg"),
        url("../fonts/Nexa-Book/Nexa-Book.ttf") format("truetype"),
        url("../fonts/Nexa-Book/Nexa-Book.woff") format("woff"),
        url("../fonts/Nexa-Book/Nexa-Book.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Nexa-Regular";
    src: url("../fonts/Nexa-Regular/Nexa-Regular.eot");
    src: url("../fonts/Nexa-Regular/Nexa-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nexa-Regular/Nexa-Regular.svg#Nexa-Regular") format("svg"),
        url("../fonts/Nexa-Regular/Nexa-Regular.ttf") format("truetype"),
        url("../fonts/Nexa-Regular/Nexa-Regular.woff") format("woff"),
        url("../fonts/Nexa-Regular/Nexa-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Nexa-XBold";
    src: url("../fonts/Nexa-XBold/Nexa-XBold.eot");
    src: url("../fonts/Nexa-XBold/Nexa-XBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nexa-XBold/Nexa-XBold.svg#Nexa-XBold") format("svg"),
        url("../fonts/Nexa-XBold/Nexa-XBold.ttf") format("truetype"),
        url("../fonts/Nexa-XBold/Nexa-XBold.woff") format("woff"),
        url("../fonts/Nexa-XBold/Nexa-XBold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PTSans-Bold";
    src: url("../fonts/PTSans-Bold/PTSans-Bold.eot");
    src: url("../fonts/PTSans-Bold/PTSans-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/PTSans-Bold/PTSans-Bold.svg#PTSans-Bold") format("svg"),
        url("../fonts/PTSans-Bold/PTSans-Bold.ttf") format("truetype"),
        url("../fonts/PTSans-Bold/PTSans-Bold.woff") format("woff"),
        url("../fonts/PTSans-Bold/PTSans-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PTSans-Italic";
    src: url("../fonts/PTSans-Italic/PTSans-Italic.eot");
    src: url("../fonts/PTSans-Italic/PTSans-Italic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/PTSans-Italic/PTSans-Italic.svg#PTSans-Italic") format("svg"),
        url("../fonts/PTSans-Italic/PTSans-Italic.ttf") format("truetype"),
        url("../fonts/PTSans-Italic/PTSans-Italic.woff") format("woff"),
        url("../fonts/PTSans-Italic/PTSans-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PTSans-Regular";
    src: url("../fonts/PTSans-Regular/PTSans-Regular.eot");
    src: url("../fonts/PTSans-Regular/PTSans-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/PTSans-Regular/PTSans-Regular.svg#PTSans-Regular") format("svg"),
        url("../fonts/PTSans-Regular/PTSans-Regular.ttf") format("truetype"),
        url("../fonts/PTSans-Regular/PTSans-Regular.woff") format("woff"),
        url("../fonts/PTSans-Regular/PTSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
